.container{
    position:fixed;
    left: 25%;
    top: 45%;
    width: 40%;
    height: 35%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08),
    -4px -4px 15px #00000014;
    border-radius: 15px;
    text-align: right;

}

.closeDiv{
  position: absolute;
  left: -60%;
  width: 220%;
  padding-bottom: 100%;
  z-index: 5;
}

h1{
    position: relative;
    top: -10%;
    left: -5%;
    font-size: 2.7vw;
}

h3{
    position: relative;
    left: -5%;
    overflow-wrap: break-word;
    color: rgb(100, 100, 100);
    font-size: 1.2vw;
}

button{
    background-color: white;
}



.button {
    --main-focus: #2d8cf0;
    --font-color: #fcf6f6;
    --bg-color-sub: #e40707;
    --bg-color: #df3535;
    --main-color: #323232;
    position: relative;
    left: 5%;
    top: 5%;
    width: 10.98vw;
    height:  2.92vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    font-size: 1.2vw;
    overflow: hidden;
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(33px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 2.86vw;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 1.47vw;
    fill: var(--main-color);
  }
  
  .button:hover {
    background: var(--bg-color);
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 10.83vw;
    transform: translateX(0);
  }
  
  .button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }


  .backButton {
    --font-color: #323232;
    --bg-color: #dedede;
    --main-color: #323232;
    transition: all 0.3s;

    position: relative;
    left: -40%;
    top: -12.9%;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .backButton:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  