@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:skyblue;
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  overflow-x: hidden;
}

#redBox{
  background-color: red;
    position: absolute;
    display: none;
    text-align: right;
    z-index: 100000;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 800px){
  #redBox{
    display: flex;
  }
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
